
* {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

body {
  background-color: #fafafa;
  margin: 1.5em auto;
  max-width: 36em;
  padding: 3em;
}

html {
  background-color: #eee;
  color: #333;
}