
DirectoryIndex index.css index.html

Options -Indexes +MultiViews

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REMOTE_ADDR} !(::1)$
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>

<IfModule mod_headers.c>
Header add Access-Control-Allow-Origin "*"
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
Header set X-UA-Compatible "IE=Edge"
Header add Link "<css/meta.min.css>;rel=stylesheet;media=all"
<filesMatch ".(gif|png|jpg|jpeg|ico|pdf|txt)$">
Header set Cache-Control "max-age=2592000"
</filesMatch>
</IfModule>
